{% extends 'base.html.twig' %}

{% block body %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url('{{ asset('template/images/bg_2.jpg') }}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
                    <h1 class="mb-2 bread">Matière</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Matière <i class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>

    <h1>Matieres list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Coefficient</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
                <td><a href="{{ path('matiere_show', { 'id': matiere.id }) }}">{{ matiere.id }}</a></td>
                <td>{{ matiere.nom }}</td>
                <td>{{ matiere.coefficient }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('matiere_show', { 'id': matiere.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('matiere_edit', { 'id': matiere.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('matiere_new') }}">Create a new matiere</a>
        </li>
    </ul>
{% endblock %}
