<h1>Liste des Projets :</h1>

<table border="8">

    <tr>
        <th>Id </th>
        <th>Titre </th>
        <th>Description </th>
        <th>Niveau </th>
        <th>Supprimer </th>


    </tr>

    {% for projet in projets %}
        <tr>
            <td> {{ projet.id  }}</td>
            <td> {{ projet.titre }}</td>
            <td> {{ projet.description }}</td>
            <td> {{ projet.niveau }}</td>
            <td><a href="{{ path("esprit_Projet_Etudiant_supprimer_Projet",{'id':projet.id}) }}">Supprimer</a></td>
            <td><a href="{{ path("esprit_Projet_Etudiant_count_Etudiant") }}">Calculer</a></td>
        </tr>
    {% endfor %}

</table>

<a href="{{ path("esprit_Projet_Etudiant_ajouter_Etudiant") }}">Affecter étudiant</a>